# JWT
JWT_SECRET= generate a 32 character key from a jwt website/utility function

# DB
DB_PASSWORD= password of db instance

# MAILING SERVICE
MAIL_USERNAME= organization email address
MAIL_PASSWORD= the Google app password, NOT the regular gmail password

# CLOUD STORAGE (Cloudinary)
CLOUDINARY_API_KEY= cloudinary api key
CLOUDINARY_API_SECRET= cloudinary api secret